<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="index.html">Home</a>
            <a href="news.html">News</a>
            <a href="contact.html">Contact</a>
            <a href="about.html">About</a>
        </div>
        <div class="form-add-new">
            <form action="/test" method="post">
                <fieldset>
                    <legend>Add New User</legend>
                    <div class="input-group">
                        <label>Email:</label>
                        <input type="text" id="emailId" name="email" />
                    </div>
                    <div class="input-group">
                        <label>Name:</label>
                        <input type="text" name="myname" />
                    </div>
                    <div class="input-group">
                        <label>City:</label>
                        <input type="text" name="city" />
                    </div>
                    <div>
                        <button>Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>